{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 5 versions", 
          "ie >= 8"
        ]
      } 
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}