/* ------------------------------------------------- */
/* ---------------- HEADER COMPONENTS -------------- */

.header {
  /* Layout */
  position: relative;
  margin-top: 30px;
  padding: 5px;
}

.header__logo {
  /* Layout */
  display: inline-block;

  /* Styles */
  height: 80px;
  width: 80px;
}

.header__nav {
  /* Layout */
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.menu {
  /* Layout */
  padding: 5px;
}

.menu__item {
  /* Layout */
  display: inline-block;
  margin-left: 6px;
  padding: 5px;

  /* Styles */
  list-style: none;
  font-weight: bold;
}

.menu__item:nth-child(1) {
  /* Styles */
  background-color: yellow;
}

.menu__item:nth-child(2) {
  /* Styles */
  background-color: aquamarine;
}

.menu__item:nth-child(3) {
  /* Styles */
  background-color: aqua;
}

.menu__item:nth-child(4) {
  /* Layout */
  position: relative;
  bottom: -10px;
  padding-bottom: 0px;
  margin-left: 40px;
}

.menu__item--shadow {
  /* Styles */
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
}

.menu__item--hover:hover {
  background-color: #f5f5f5;
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
}


.header__logo--border,
.menu__item--border {
  /* Styles */
  border: 2px solid black;
  border-radius: 5px;
}

.menu__link {
  /* Styles */
  text-decoration: none;
  color: black;
}

.menu__avatar {
  /* Layout */
  width: 35px;
}

.heading {
  /* Layout */
  margin-top: 10px;
  padding: 5px;

  /* Styles */
  background-color: bisque;
  border-radius: 5px;
}

.fa-angle-down {
  /* Layout */
  position: relative;
  bottom: 5px;

  /* Styles */
  font-size: 24px;
}


.heading__title {
  /* Layout */
  margin: 0;
  padding: 5px;

  /* Styles */
  font-size: 26px;
}

.heading__subtitle {
  display: inline-block;
  margin-top: 7px;
}

/* ------------------------------------------------- */
/* ------------------------FOOTER------------------- */

.credit__text {
  text-align: center;
}

